@model Darbuotojas
@{
    ViewData["Title"] = "Pašalinti darbuotoja";
}

<form asp-controller="Employee" asp-action="DeletePOST" method="post">
    <input asp-for="Id" hidden />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Vardas" class="control-label">Vardas:</label>
        <input asp-for="Vardas" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Pavarde" class="control-label">Pavardė:</label>
        <input asp-for="Pavarde" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="GimimoData" class="control-label">Gimimo Data:</label>
        <input asp-for="GimimoData" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Adresas" class="control-label">Adresas:</label>
        <input asp-for="Adresas" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Pareigos" class="control-label">Pareigos:</label>

        @foreach (var pareiga in ViewBag.VisosPareigos)
        {
            if (pareiga != null)
            {
                if (Model != null && Model.Pareigos.Contains(pareiga))
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="Pareigos" value="@pareiga.Id" checked disabled /> @pareiga.Pareigos
                        </label>
                    </div>
                }
                else
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="Pareigos" value="@pareiga.Id" disabled /> @pareiga.Pareigos
                        </label>
                    </div>
                }
            }
        }
    </div>

    <button type="submit" class="btn btn-danger">Pašalinti</button>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary">Gryžti</a>

</form>

