html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.rusiavimo-linkas:link, .rusiavimo-linkas:visited, .rusiavimo-linkas:active {
    color: darkslategray;
}

.rusiavimo-linkas:hover {
    color: black;
    text-decoration: none;
}